# Bài tập ngày 28/01/2024
## Trần Ngọc Phát

In [3]:
# Import pandas
import pandas as pd
import numpy as np

C:\Users\TranNgocPhat\AppData\Local\Temp\ipykernel_9120\494524429.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [4]:
# Import xls files
df_file1 = pd.read_excel(r"./diem_1.xls")
df_file2 = pd.read_excel(r"./diem_2.xls")
df_file_final = pd.read_excel(r"./diem_final.xls")

In [5]:
# Remove duplicate rows
df_file1.drop_duplicates(inplace=True)
df_file2.drop_duplicates(inplace=True)
df_file_final.drop_duplicates(inplace=True)

In [6]:
# Remove rows with missing values
df_file1.dropna(inplace=True)
df_file2.dropna(inplace=True)
df_file_final.dropna(inplace=True)

In [7]:
# Rename column Diem_1 to diem_1
df_file1.rename({
    "Diem_1": "diem_1"
}, inplace=True, axis=1)

In [8]:
df_file2 = df_file2.assign(MSSV=df_file2["MSSV"].astype(str))[["MSSV", "diem_2"]]
df_file2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 57 entries, 0 to 57
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   MSSV    57 non-null     object
 1   diem_2  57 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.3+ KB

In [9]:
# Rename column MSSV to Mã sinh viên
df_file2 = df_file2.rename({
    "MSSV": "Mã sinh viên"
}, axis=1)

In [10]:
# Merge and find students with missing values on diem_2
df_merge = pd.merge(left=df_file1, right=df_file2, on="Mã sinh viên", how='left')

df_merge[df_merge["diem_2"].isna()]

   Mã sinh viên               Họ đệm   Tên  diem_1  diem_2
6      20015321           Nguyễn Bảo   Đại     0.0     NaN
18     22003005              Lê Ngọc  Hiếu     9.0     NaN
30     19469851  Nguyễn Trương Thiên  Long     0.0     NaN
31     21123021         Nguyễn Thành  Luân     9.5     NaN
47     20115901              Bùi Văn   Thể    10.0     NaN

In [11]:
# Handle missing values by filling with 0
df_merge["diem_2"] = df_merge["diem_2"].fillna(0)

In [12]:
df_file_final = df_file_final["Mã sinh viên"]
df_file_final

Series([], Name: Mã sinh viên, dtype: object)

In [13]:
df_output = pd.merge(left=df_merge, right=df_file_final, on="Mã sinh viên", how='left')
df_output["diem_final"] = np.round((0.5 * (df_output["diem_1"] + df_output["diem_2"]*10/8)) * 2) / 2

print(df_output)

   Mã sinh viên         Họ đệm   Tên  diem_1  diem_2  diem_final
0      21015461   Trương Hoàng   Anh     9.0     8.0         9.5
1      21000425        Cao Văn   Bảo     9.0     7.0         9.0
2      21037621     Dương Thái   Bảo     9.0     7.0         9.0
3      21017351    Trương Quốc   Bảo     9.0     7.0         9.0
4      20110971      Trần Xuân  Bình     9.0     7.0         9.0
..          ...            ...   ...     ...     ...         ...
57     21020241     Nguyễn Đức  Vinh    10.0     8.0        10.0
58     20101931         Vũ Thế  Vinh    10.0     8.0        10.0
59     21013481       Trần Đức    Vũ    10.0     7.0         9.5
60     21088201    Trần Nguyên    Vũ    10.0     6.0         9.0
61     21046361  Trần Thị Thúy    Vy    10.0     8.0        10.0

[62 rows x 6 columns]

In [14]:
# Export to excel
df_output.to_excel("./diem_final_output.xlsx", index=False)