In [1]:
import pandas as pd

C:\Users\TranNgocPhat\AppData\Local\Temp\ipykernel_11844\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

# CAR-SALES dataset

Dữ liệu `car-sales.csv`: bộ dữ liệu chứa thông tin các ôtô cũ ở một cửa hàng bán ô tô cũ. 

Bạn hãy thực hiện các yêu cầu sau:

### 1. Đọc dữ liệu và cho biết dữ liệu có bao nhiêu dòng, bao nhiêu cột

Đáp án: (10 dòng, 5 cột)

In [2]:
df = pd.read_csv("data/car-sales.csv")
print("Số dòng là:", df.shape[0])
print("Số cột là: ", df.shape[1])

Số dòng là: 10
Số cột là:  5

### 2. Cho biết thuộc tính nào là thuộc tính phân loại, thuộc tính nào là thuộc tính định lượng

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Manufacturer  10 non-null     object
 1   Colour        10 non-null     object
 2   Odometer      10 non-null     int64
 3   Doors         10 non-null     int64
 4   Price         10 non-null     float64
dtypes: float64(1), int64(2), object(2)
memory usage: 532.0+ bytes

### 3. Trong dữ liệu có thông tin của bao nhiêu xe?

Đáp án: 10 xe

In [4]:
print("Số lượng xe: ", len(df))

Số lượng xe:  10

### 4. Đếm số xe theo theo hãng

Đáp án: Toyota: 10 xe, Honda: 3 xe, Nissan: 2 xe, BMW: 1 xe

In [5]:
for i in df['Manufacturer'].unique():
      print(i,'có',len(df[df["Manufacturer"] == i]),"xe")

Toyota có 4 xe
Honda có 3 xe
BMW có 1 xe
Nissan có 2 xe

### 5. Đếm số xe theo màu

In [6]:
for color in df['Colour'].unique():
    print(color,'có',len(df[df["Colour"] == color]),"xe")

White có 4 xe
Red có 1 xe
Blue có 3 xe
Black có 1 xe
Green có 1 xe

### 6. Tổng giá trị các xe trong cửa hàng

Đáp án: 76450 USD

In [7]:
print("Tổng giá trị: ", sum(df["Price"]), "USD")

Tổng giá trị:  76450.0 USD

### 7. Top 3 xe có giá cao nhất

In [8]:
df.nlargest(3,"Price")

  Manufacturer Colour  Odometer  Doors    Price
3          BMW  Black     11179      5  22000.0
9       Nissan  White     31600      4   9700.0
6        Honda   Blue     45698      4   7500.0

### 8. Top 3 xe đã chạy nhiều cây số (km)nhất (Odometer)

Đáp án:
- Xe Nissan, White, 213095 km
- Xe Toyota, White, 150043 km
- Xe Toyota, Green, 99213 km

In [9]:
df.nlargest(3,"Odometer")

  Manufacturer Colour  Odometer  Doors   Price
4       Nissan  White    213095      4  3500.0
0       Toyota  White    150043      4  4000.0
5       Toyota  Green     99213      4  4500.0

### 9. Khảo sát xe của hãng Honda

- Tính tỷ lệ xe Honda trong dữ liệu của cửa hàng (0.3)
- Cho biết giá trung bình của xe hãng Honda của cửa hàng (6500)
- Cho biết các xe của hãng Honda trong cửa hàng có những màu sắc nào (Red, Blue)

In [10]:
hd = df[df["Manufacturer"]=="Honda"]
print("Tỉ lệ xe Honda:", len(hd)/len(df))
print("Giá trung bình của xe Honda:",hd["Price"].mean())
print("Các màu của xe Honda: ",end="")
for car in hd["Colour"].unique():
    print(car, end="")
    print(" ",end="")

Tỉ lệ xe Honda: 0.3
Giá trung bình của xe Honda: 6500.0
Các màu của xe Honda: Red Blue

# 10. Tính toán các giá trị sau của  thuộc tính giá ('Price')

- Giá trung bình các xe (7645)
- Giá trị trung vị các xe (6625)
- Miền giá trị của xe (18500)
- Miền phân vị của xe (2750)
- Điểm phân vị 0.4 và 0.6 của giá ([5750, 7000])

In [11]:
print("Giá trung bình của các xe:", df["Price"].mean())
print("Giá trị trung vị của các xe:", df["Price"].median())
print("Miền giá trị của các xe",df["Price"].max()-df["Price"].min())
print("Miền phân vị của các xe:", df["Price"].quantile(0.75)-df["Price"].quantile(0.25))
print("Điểm phân vị 0.4 và 0.6 của các xe:", df["Price"].quantile(0.4), df["Price"].quantile(0.6))

Giá trung bình của các xe: 7645.0
Giá trị trung vị của các xe: 6625.0
Miền giá trị của các xe 18500.0
Miền phân vị của các xe: 2750.0
Điểm phân vị 0.4 và 0.6 của các xe: 5750.0 7000.0

---

# TIPS dataset

Dữ liệu chứa trong file `tips.csv` chứa thông tin tiền tip của khách hàng tại một nhà hàng. Dữ liệu có các thông tin sau:

- `total_bill`: tổng hoá đơn (USD)
- `tip`: tiền tip/ tiền boa (USD)
- `sex`: giới tính người thanh toán hóa đơn
- `smoker`: có hút thuốc hay không
- `day`: ngày trong tuần
- `time`: thời gian dùng bữa(buổi sáng, buổi trưa, buổi tối)
- `size`: số lượng người tham gia

Bạn hãy thực hiện thống kê mô tả để tìm hiểu về hành vi tip của khách hàng tại nhà hàng

1. Đọc dữ liệu

In [12]:
t = pd.read_csv("data/tips.csv")

2. Xoá cột `Unnamed: 0`

In [13]:
t.drop(["Unnamed: 0"],axis=1)

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

3. Cho biết dữ liệu có bao nhiêu dòng, bao nhiêu thuộc tính.

In [14]:
print("Số dòng:",t.shape[0])
print("Số thuộc tính:",t.shape[1])

Số dòng: 244
Số thuộc tính: 8

4. Trong các thuộc tính, thuộc tính nào là thuộc tính phân loại, thuộc tính nào là thuộc tính định lượng

In [15]:
t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  244 non-null    int64
 1   total_bill  244 non-null    float64
 2   tip         244 non-null    float64
 3   sex         244 non-null    object
 4   smoker      244 non-null    object
 5   day         244 non-null    object
 6   time        244 non-null    object
 7   size        244 non-null    int64
dtypes: float64(2), int64(2), object(4)
memory usage: 15.4+ KB

5. Có bao nhiêu nam, bao nhiêu nữ. Tỷ lệ bao nhiêu?

In [16]:
nam = t[t['sex']=='Male']
nu = t[t['sex']=='Female']
print("Nam có:",len(nam), "Với tỉ lệ: ",len(nam)/len(t))
print("Nữ có:",len(nu), "Với tỉ lệ: ",len(nu)/len(t))

Nam có: 157 Với tỉ lệ:  0.6434426229508197
Nữ có: 87 Với tỉ lệ:  0.35655737704918034

6. Có bao nhiêu người hút thuốc. Tỷ lệ bao nhiêu?

In [17]:
ht = t[t['smoker']=='Yes']
print("Số người hút thuốc:",len(ht), "Với tỉ lệ: ",len(ht)/len(t))

Số người hút thuốc: 93 Với tỉ lệ:  0.38114754098360654

7. Ngày nào trong tuần khách hàng hay đến dùng bữa nhất. Tỷ lệ bao nhiêu?

In [18]:
date = t['day'].value_counts().idxmax()
print("Ngày khách hay đến dùng bữa:", date)
print("Tỉ lệ:", len(t[t['day']==date])/len(t))

Ngày khách hay đến dùng bữa: Sat
Tỉ lệ: 0.35655737704918034

8. Nhà hàng phục vụ bữa ăn nào nhiều nhất (Breakfast, Lunch, Dinner)?

In [19]:
buoi = t['time'].value_counts().idxmax()
print("Bữa ăn nhiều nhất:", buoi)

Bữa ăn nhiều nhất: Dinner

9. Nhóm khách hàng dùng bữa tại nhà hàng nhiều nhất là bao nhiêu người?

In [20]:
print("Số lượng người nhiều nhất:",t['size'].max())

Số lượng người nhiều nhất: 6

10. Trung bình trong một bữa ăn nhà hàng phục vụ mấy khách?

In [21]:
print("Số lượng khách trung bình:",t['size'].mean())

Số lượng khách trung bình: 2.569672131147541

---